# Local k8s-agent values
LOCAL_CLUSTER_ID=5b006e4c-509c-458a-9f02-5aafbdc01ade
LOCAL_AGENT_KEY=ak_local_dev_shared_key
ACORNOPS_AGENT_WRITE_ENABLED=true
ACORNOPS_AGENT_KUBECONFIG_REWRITE_LOOPBACK=true
ACORNOPS_AGENT_KUBECONFIG_HOST_ALIAS=host.docker.internal
ACORNOPS_AGENT_KUBECONFIG_SKIP_TLS_VERIFY=true
ACORNOPS_AGENT_WATCH_NAMESPACES=acornops-demo
ACORNOPS_AGENT_LOCAL_FALLBACK_ENABLED=true
ACORNOPS_AGENT_LOG_LEVEL=info

# Local vm-agent values
LOCAL_VM_TARGET_ID=9254df42-4d9b-4e63-8bb6-93442e7d9a45
LOCAL_VM_AGENT_KEY=ak_local_vm_dev_shared_key
ACORNOPS_VM_AGENT_SNAPSHOT_INTERVAL_MS=15000
ACORNOPS_VM_COLLECTOR_MODE=mock
ACORNOPS_VM_ALLOWED_LOG_SOURCES=system,app,security
